.container1 {
  display: flex;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.container3 {
  display: flex;
  flex-direction: row;
}

.container4 {
  display: flex;
  flex-direction: column-reverse;
}

.container5 {
  display: flex;
  flex-direction: row-reverse;
}
