.container1 {
  display: flex;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.container3 {
  display: flex;
  flex-direction: row;
}

.container4 {
  display: flex;
  flex-direction: column-reverse;
}

.container5 {
  display: flex;
  flex-direction: row-reverse;
}

.container6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container10 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.container12 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.container13 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container14 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100px;
}

.container15 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
