body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;    
}

caption {
    caption-side: bottom;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 3px solid black;
    padding: 10px;
    background-color: lightcyan;
    color: darkblue;
    width: 100px;
}

.top {
  border-top: 2px solid black;
}

td {
    border-bottom: 3px solid lightgray;
    padding: 10px;
}

.name {
  text-align: left;
  background-color: lightyellow;
  color: red;
  border-right: 3px solid lightgray;
}

.gender {
  text-align: center;
  background-color: lightgreen;
  color: lightyellow;
}

.age {
  text-align: right;
  border-left: 3px solid  lightgray;
  background-color: lightskyblue;
  color: white;
}
