body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    width: 350px;        
}

.table-people__caption {
    caption-side: bottom;
}

.table-people {
    border-collapse: collapse;
}

.table-people__top {
    border-bottom: 3px solid black;
    background-color: lightcyan;
    color: darkblue;
    padding: 10px;
    width: 100px;
    border-top: 2px solid black;
}

.table-people__name {
    background-color: lightyellow;
    border-right: 3px solid lightgray;
    color: red;
    text-align: left;
    border-bottom: 3px solid lightgray;
    padding: 10px;
}

.table-people__gender {
    background-color: lightgreen;
    color: lightyellow;
    text-align: center;
    border-bottom: 3px solid lightgray;
    padding: 10px;
}

.table-people__age {
    border-left: 3px solid lightgray;
    background-color: lightskyblue;
    color: white;
    text-align: right;
    border-bottom: 3px solid lightgray;
    padding: 10px;
}
