body {
  margin: 0;
  padding: 0;
}

.navbar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
}

.navbar__item-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar__item-logo {
  width: 20px;
  height: 20px;
}

.navbar__item-input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  background-color: white;
  background-image: url("https://www.w3schools.com/css/searchicon.png");
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 14px 15px 12px 40px;
}

footer {
  display: flex;
  background-color: lightgray;
  justify-content: space-around;
}

.footer__list {
  list-style-type: none;
  margin: 20px;
  padding: 10px;
  overflow: hidden;
  font-size: 11px;
}

.footer__list-item {
  text-decoration: none;
  color: #000000;
  margin: 1px;
  padding: 1px;
}

.mobile_menu_click {
  display: none;
}

.collapse-list{
  display: none;
}

@media screen and (max-width: 850px){
footer {
  display: block;
}

.navbar{
  display: none;
}
.mobile_menu_click{
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
}

.navbar__item {
  display: block;
}

.navbar__list {
  flex-direction: column;
}

.collapse-list{
  display: flex;
  flex-direction: column;
}

.footer__list{
  display: none;
}

.collapse-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #e0e0e0;
}

.collapse-open {
  display: none;
}

.collapse-painel {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height .1s,
  visibility .3s,
  opacity .3s;
}

.collapse-open:checked ~ .collapse-painel {
  max-height: 100%;
  opacity: 100;
  visibility: visible
}

.collapse-list li {
  margin-bottom: 0;
}

.collapse-list .collapse-btn {
  border-top: 1px solid #e0e0e0;
  cursor: pointer;
  display: block;
  padding: 15px 10px;
  margin-bottom: 0;
  color: grey;
  font-weight: normal;
  transition: background-color .2s ease;
}

.collapse-list .collapse-btn:hover {
  background: #eee;
}

.collapse-open ~ .collapse-btn:before {
  content: "+";
  float: right;
}

.collapse-open:checked ~ .collapse-btn:before {
  content: "x";
}

.collapse-list .collapse-inner {
  padding: 10px
}
}
